body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: white;
  --foreground: black;
  --section-bg: #f8fafc;   /* gris muy claro */
  --section-border: #e2e8f0;
  --btn-bg: rgb(20, 20, 20);
  --btn-text: white;
  --btn-border: rgb(128, 128, 128);
  --btn-bg-hover: rgb(58, 58, 58);
  --input-bg: #ffffff;
  --input-text: #000000;
  --input-border: #cbd5e1;
  --input-placeholder: #94a3b8;
  --input-focus-border: #111827;
}

[data-theme='dark']{
  --background: black;
  --foreground: white;
  --section-bg: #111827;   /* gris oscuro azulado */
  --section-border: #1f2937;
  --btn-bg: white;
  --btn-text: black;
  --btn-border: gray;
  --btn-bg-hover: lightgray;
  --input-bg: #020617;
  --input-text: #ffffff;
  --input-border: #1f2937;
  --input-placeholder: #6b7280;
  --input-focus-border: #ffffff;

}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */